{% extends "post_base.html" %}
{% load i18n %}

{% block title %}
{{post.title}} | {{post.date|date:"Y-m-d"}}
{% endblock %}

{% block pre_modules %}
{{ block.super }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor@3.8.12/dist/index.css" />
<script src="https://cdn.jsdelivr.net/npm/vditor@3.8.12/dist/method.min.js"></script>
<style>
    div#post-card {
        margin-bottom: 2rem;
    }
    #post-cover {
        width: 100%;
    }
    .post-info .post-info-item span {
        font-size: 0.9rem;
    }
    #toc {
        position: sticky;
        top: 1rem;
    }
    #toc-content > ul {
        padding-left: 0rem;
    }
    #toc-content ul li span svg {
        margin-right: 5px;
    }
    .breadcrumb-item a {
        text-decoration: none;
    }
</style>
{% endblock %}

{% block breadcrumb %}
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" class="text-muted">Home</a></li>
            <li class="breadcrumb-item"><a href="/post/" class="text-muted">Posts</a></li>
            <li class="breadcrumb-item"><span class="text-muted text-truncate">{{post.title}}</span></li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block main_left %}
<div id="post-card">
    {% if post.cover %}
    <img src="/media/{{post.cover}}" id="post-cover" class="py-3" alt="" srcset="">
    {% endif %}
    <h1 id="title" class="py-2 fw-bold">
        <span class="position-relative">{{ post.title }}
            {% if post.draft %}
            <span class="position-absolute top-0 start-100 rounded-pill bg-secondary text-white fs-6 px-2 py-1 ms-1">Draft</span>
            {% endif %}
        </span>
    </h1>
    <div class="d-flex flex-row flex-wrap gap-3 text-muted post-info">
        <div class="gap-3 d-flex flex-row flex-wrap">
            <div id="post-author" class="post-info-item"><i class="bi bi-pencil-fill pe-2"></i><span>HPDell</span></div>
            <div class="vr"></div>
            <div id="post-date" class="post-info-item"><i class="bi bi-calendar pe-2"></i><span>{{post.date}}</span></div>
            {% if post.category and post.category.name %}
            <div class="vr"></div>
            <div id="post-category" class="post-info-item"><i class="bi bi-archive-fill pe-2"></i><span>{{post.category.name}}</span></div>
            {% endif %}
            <div class="vr"></div>
        </div>
        {% if post_tags %}
        <div>
            <div id="post-tags" class="post-info-item">
                <i class="bi bi-tag-fill"></i>
                {% for item in post_tags %}
                <span class="badge bg-light text-dark fw-normal">{{item.name}}</span>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="post">
    <pre>{{ post.content }}</pre>
</div>
<p id="copyright" class="lead mt-4 text-muted">
    <small>Thanks for your reading. Copyright preserved by MyZone.</small>
</p>
{% endblock %}

{% block main_right %}
{% if user.is_authenticated %}
<div id="actions" class="row d-grid gap-2 my-3 px-3">
    {% if perms.myzoneapp.change_post %}
    <a href="/post/{{post.id}}/edit/" class="btn btn-sm btn-secondary" role="button">{% translate "Edit" %}</a>
    {% endif %}
    {% if perms.myzoneapp.delete_post %}
    <a href="#" class="btn btn-sm btn-danger" role="button" data-bs-toggle="modal" data-bs-target="#post-delete-modal">{% translate "Delete" %}</a>
    <div class="modal fade" id="post-delete-modal" tabindex="-1" aria-labelledby="post-delete-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="post-delete-modal-title">{% translate "Delete Confirm" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure to delete post <i>{{post.title}}</i>?
                </div>
                <div class="modal-footer">
                    <form action="/post/{{post.id}}/delete/" method="post">
                        {% csrf_token %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</button>
                        <button type="submit" class="btn btn-danger">{% translate "Delete" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
{{ block.super }}
<div id="toc" class="row mt-4 px-3">
    <h5 id="toc-header" class="border-start border-4 border-dark">{% translate "Contents" %}</h5>
    <div id="toc-content" class="ps-0"></div>
</div>
{% endblock %}

{% block post_modules %}
<script src="/static/latex-macros.js"></script>
<script>
    const contentElement = document.getElementById("post");
    const markdown = contentElement.innerText;
    Vditor.preview(contentElement, markdown, {
        after() {
            const outlineElement = document.getElementById("toc-content");
            Vditor.outlineRender(contentElement, outlineElement);
            if (outlineElement.innerText.trim() !== '') {
                outlineElement.style.display = 'block';
            }
        },
        math: {
            inlineDigit: true,
            engine: 'MathJax',
            macros: latexMacros
        }
    });
</script>
{% endblock %}
