{% extends "post_base.html" %}
{% load i18n %}

{% block title %}
{% if post %}
{{post.title}} | {{post.date|date:"Y-m-d"}}
{% else %}
New Post
{% endif %}
{% endblock %}

{% block pre_modules %}
{{ block.super }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor@3.8.12/dist/index.css" />
<script src="https://cdn.jsdelivr.net/npm/vditor@3.8.12/dist/index.min.js"></script>
<style>
    #post-content {
        display: none;
    }
    #vditor {
        min-height: 60vh;
    }
</style>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row py-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-muted">
                <li class="breadcrumb-item"><a href="/" class="text-muted">{% translate "Home" %}</a></li>
                <li class="breadcrumb-item"><a href="/post/" class="text-muted">{% translate "Posts" %}</a></li>
                <li class="breadcrumb-item"><span class="text-muted">{{post.title}}</span></li>
            </ol>
        </nav>
    </div>
    {% if post %}
    <h1 class="fw-bold">{% translate "Edit Post" %}</h1>
    <form action="/post/{{post.id}}/edit/" method="post" class="py-3" enctype="multipart/form-data">
    {% else %}
    <h1 class="fw-bold">{% translate "New Post" %}</h1>
    <form action="/post/new/" method="post" class="py-3" enctype="multipart/form-data">
    {% endif %}
        {% csrf_token %}
        <div class="row">
            <div class="col-xl-8 col-lg-9 col-xs-12 d-flex flex-column">
                <div class="mb-3">
                    <label for="post-title" class="form-label"><h5>{% translate "Title" %}</h5></label>
                    {% if post %}
                    <input name="title" id="post-title" class="form-control" type="text" value="{{post.title}}">
                    {% else %}
                    <input name="title" id="post-title" class="form-control" type="text">
                    {% endif %}
                </div>
                <div class="mb-3 flex-grow-1 d-flex flex-col align-items-stretch">
                    <div id="vditor" class="flex-grow-1"></div>
                    {% if post %}
                    <textarea name="content" id="post-content" cols="40" rows="10">{{ post.content }}</textarea>
                    {% else %}
                    <textarea name="content" id="post-content" cols="40" rows="10"></textarea>
                    {% endif %}
                </div>
            </div>
            <div class="col-xl-4 col-lg-3 col-xs-12">
                <div class="mb-3">
                    <label class="form-label" for="post-cover"><h5>{% translate "Cover" %}</h5></label>
                    {% if post %}
                    <div class="input-group input-group-sm">
                        <input type="file" name="cover" class="form-control form-control-sm" name="cover" id="post-cover" accept="*.png, *.jpg, *.bmp, *.jpeg">
                        <div class="input-group-text">
                            <input type="checkbox" class="form-check-input " name="cover_delete" id="post-cover-delete">
                            <label for="post-cover-delete" class="form-check-label">{% translate "Clear" %}</label>
                        </div>
                    </div>
                    {% if post.cover %}
                    <img src="/media/{{post.cover}}" alt="" class="img-thumbnail my-2">
                    {% endif %}
                    {% else %}
                    <input type="file" name="cover" class="form-control form-control-sm" name="cover" id="post-cover" accept="*.png, *.jpg, *.bmp, *.jpeg">
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label class="form-label" for="post-date"><h5>{% translate "Date" %}</h5></label>
                    {% if post %}
                    <input type="date" name="date" class="form-control" name="date" id="post-date" value="{{ post.date|date:'Y-m-d' }}">
                    {% else %}
                    <input type="date" name="date" class="form-control" name="date" id="post-date" value="{% now 'Y-m-d' %}">
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label class="form-label" for="post-category"><h5>{% translate "Category" %}</h5></label>
                    {% if post %}
                    <input type="text" name="category" class="form-control" list="category-list-options" id="post-category" placeholder="Select or create one" value="{{post.category}}">
                    {% else %}
                    <input type="text" name="category" class="form-control" list="category-list-options" id="post-category" placeholder="Select or create one">
                    {% endif %}
                    <datalist name="category" id="category-list-options">
                        {% for item in categories %}
                        <option value="{{item.name}}"></option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class="mb-3">
                    <h5>{% translate "Tags" %}</h5>
                    <div id="tags-checks">
                        {% for item in tags %}
                        <div class="form-check form-check-inline">
                            {% if post and item.name in post.tags %}
                            <input type="checkbox" class="form-check-input" value="{{item.name}}" name="tags" id="post-tag-{{item.id}}" checked>
                            {% else %}
                            <input type="checkbox" class="form-check-input" value="{{item.name}}" name="tags" id="post-tag-{{item.id}}">
                            {% endif %}
                            <label class="form-check-label" for="post-tag-{{item.id}}">{{item.name}}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="New tag..." id="new-tag" aria-describedby="button-new-tag">
                        <button class="btn btn-sm btn-outline-secondary" type="button" id="button-new-tag" onclick="onBtnNewTagClick()"><i class="bi bi-cloud-plus pe-1"></i>Add</button>
                    </div>
                </div>
            </div>
            <div class="hstack gap-2">
                <button type="submit" name="publish" class="btn btn-primary" onclick="formSubmit()">{% translate "Submit" %}</button>
                <div class="vr"></div>
                <button type="submit" name="draft" class="btn btn-outline-secondary" onclick="formSubmit()">{% translate "Save Draft" %}</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block post_modules %}
<script src="/static/latex-macros.js"></script>
<script>
    const contentElement = document.getElementById("post");
    const hintMap = (function () {
        var hints = new Map();
        const environments = [
            'matrix', 'pmatrix', 'bmatrix', 'vmatrix', 'aligned', 'array'
        ]
        for (const item of environments) {
            hints.set(item, {
                value: `\\begin{${item}}\n\\end{${item}}`,
                html: `\\begin{${item}}`
            });
        }
        const bracketMap = {
            'r': ['(', ')'],
            's': ['[', ']'],
            'c': ['\\{', '\\}'],
            'v': ['|', '|'],
            'V': ['\\|', '\\|'],
        }
        const brackets = ['leftrr', 'leftss', 'leftcc', 'leftrs', 'leftsr', 'leftvv', 'leftVV']
        for (const item of brackets) {
            var left = bracketMap[item.charAt(4)][0]
            var right = bracketMap[item.charAt(5)][1]
            hints.set(item, {
                value: `\\left${left}  \\right${right}`,
                html: `\\left${left}\\right${right}`
            });
        }
        return hints;
    })();
    const vditor = new Vditor('vditor', {
        width: '100%',
        value: '',
        toolbarConfig: {
            pin: true
        },
        cache: {
            enabled: false
        },
        preview: {
            math: {
                inlineDigit: true,
                engine: 'MathJax',
                macros: latexMacros
            }
        },
        upload: {
            url: '/vditor/uploads/',
            linkToImgUrl: '/vditor/uploads/',
            accept: '.jpg,.png,.gif,.jpeg',
            filename(name) {
                return name.replace(/\?|\\|\/|:|\||<|>|\*|\[|\]|\s+/g, '-')
            },
        },
        after() {
            vditor.clearCache()
            vditor.setValue(document.getElementById('post-content').value)
        },
        input(md) {
            document.getElementById('post-content').value = md
        },
        hint: {
            extend: [{
                key: "\\",
                hint: (key) => {
                    var hints = Array.from(hintMap.keys()).filter(hint => (hint.indexOf(key) >= 0));
                    return hints.map(item => hintMap.get(item));
                }
            }]
        }
    })

    var createdTagNum = 0;

    function newTagGroup(tagName) {
        var container = document.createElement('div');
        container.setAttribute('class', 'form-check form-check-inline');
        var tag_id = `post-tag-${createdTagNum+1}`;
        var tag_input = document.createElement('input');
        tag_input.setAttribute('type', 'checkbox');
        tag_input.setAttribute('class', 'form-check-input');
        tag_input.setAttribute('value', tagName);
        tag_input.setAttribute('name', 'tags');
        tag_input.setAttribute('id', tag_id);
        var tag_label = document.createElement('label');
        tag_label.setAttribute('class', 'form-check-label')
        tag_label.setAttribute('for', tag_id);
        var tag_label_text = document.createTextNode(tagName);
        tag_label.append(tag_label_text);
        container.appendChild(tag_input);
        container.appendChild(tag_label);
        return container;
    }

    function onBtnNewTagClick () {
        var newTagName = document.getElementById('new-tag').value.trim();
        if (newTagName !== '') {
            const tagChecks = document.getElementById('tags-checks');
            tagChecks.appendChild(newTagGroup(newTagName));
        }
        document.getElementById('new-tag').value = ''
    }
</script>
<script>
    var showLeaveAlert = true;
    function formSubmit() {
        console.log("formSubmit");
        showLeaveAlert = false;
    }
    window.addEventListener("beforeunload", function (e) {
        e = e || window.event;
        if (showLeaveAlert) {
            e.preventDefault()
            if (e) {
                e.returnValue = '{% translate "Are you sure to leave?" %}';
            }
            return '{% translate "Are you sure to leave?" %}';
        }
    }, false);
</script>
{% endblock %}
