{% extends "post_base.html" %}

{% block pre_modules %}
{{ block.super }}
<style>
    .post-info {
        font-size: 0.5rem;
    }
    .post-info .post-info-item {
        padding: 0.2rem;
    }
    #post-list .post-list-col .card {
        height: 100%;
    }
    .post-link-card {
        text-decoration: none;
    }
    .post-link-card h5 {
        color: var(--bs-dark);
    }
    .breadcrumb-item a {
        text-decoration: none;
    }
    .card-img-outer {
        width: 100%;
        height: 0;
        padding: 0;
        padding-bottom: calc(9/16*100%);
        overflow: hidden;
        position: relative;
    }
    .card-img-wrapper {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .card-img-wrapper img {
        width: 100%;
    }
</style>
{% endblock %}

{% block breadcrumb %}
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb text-muted">
            <li class="breadcrumb-item"><a href="/" class="text-muted">Home</a></li>
            <li class="breadcrumb-item">Posts</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block main_left %}
<div id="post-list" class="row">
    <h5 id="post-list-header" class="border-start border-4 border-dark ps-3 my-3">
        <strong>Post List</strong>
        {% if perms.myzoneapp.add_post %}
        <a href="/post/new/" class="btn btn-sm btn-secondary float-end" role="button">New</a>
        {% endif %}
    </h5>
    {% for item in posts %}
    <div class="col-3 col-xs-12 post-list-col gx-2 gy-3">
        <a href="/post/{{item.id}}/" class="post-link-card"><div class="card">
            {% if item.cover %}
            <div class="card-img-outer">
                <div class="card-img-wrapper">
                    <img src="/media/{{item.cover}}" alt="" srcset="">
                </div>
            </div>
            {% else %}
            <div class="card-img-outer">
                <div class="card-img-wrapper">
                    <img src="/media/covers/default.jpg" alt="" srcset="">
                </div>
            </div>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><strong>{{ item.title }}</strong></h5>
                <div class="text-muted post-info d-flex flex-row flex-wrap justify-content-between">
                    <div class="post-info-item"><i class="bi bi-pencil-fill pe-1"></i><span>HPDell</span></div>
                    <div class="post-info-item"><i class="bi bi-calendar pe-1"></i><span>{{item.date}}</span></div>
                    {% if item.category %}
                    <div class="post-info-item"><i class="bi bi-archive-fill pe-1"></i><span>{{item.category.name}}</span></div>
                    {% endif %}
                </div>
            </div>
        </div></a>
    </div>
    {% endfor %}
</div>
{% endblock %}
