{% extends "post_base.html" %}
{% load i18n %}
{% load l10n %}
{% load thumbnail %}

{% block pre_modules %}
{{ block.super }}
<style>
    .post-info {
        font-size: 0.5rem;
    }
    .post-info .post-info-item {
        padding: 0.2rem;
    }
    #post-list .post-list-col .card {
        height: 100%;
    }
    .post-link-card {
        text-decoration: none;
    }
    .post-link-card h5 {
        color: var(--bs-dark);
    }
    .card-img-outer {
        width: 100%;
        height: 0;
        padding: 0;
        padding-bottom: calc(9/16*100%);
        overflow: hidden;
        position: relative;
    }
    .card-img-wrapper {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .card-img-wrapper img {
        width: 100%;
    }
    @media (max-width: 768px) {
        div#pagination a.page-can-hide {
            display: none;
        }
    }
</style>
{% endblock %}

{% block breadcrumb %}
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb text-muted">
            <li class="breadcrumb-item"><a href="/" class="text-muted">{% translate "Home" %}</a></li>
            <li class="breadcrumb-item">{% translate "Posts" %}</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block main_left %}
<div class="row">
    <div class="d-flex flex-row align-items-center">
        <h5 id="post-list-header" class="border-start border-4 border-dark ps-3 my-3 flex-grow-1">
            <strong>{% translate "Post List" %}</strong>
        </h5>
        {% if perms.myzoneapp.change_post %}
        {% if "draft" in request.GET %}
        <a href="/post/" class="btn btn-sm btn-outline-secondary me-2" role="button">{% translate "Published" %}</a>
        {% else %}
        <a href="/post/?draft=1" class="btn btn-sm btn-outline-secondary me-2" role="button">{% translate "Drafts" %}</a>
        {% endif %}
        {% endif %}
        {% if perms.myzoneapp.add_post %}
        <a href="/post/new/" class="btn btn-sm btn-secondary me-2" role="button">{% translate "New" %}</a>
        {% endif %}
    </div>
</div>
<div id="post-list" class="row mb-4">
    {% for item in posts %}
    <div class="col-xxl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 post-list-col gx-2 gy-3 px-2">
        <a href="/post/{{item.permanent}}/" class="post-link-card"><div class="card">
            {% if item.cover %}
            <div class="card-img-outer">
                <div class="card-img-wrapper">
                    {% thumbnail item.cover "384x216" as im %}
                    <img src="{{im.url}}" alt="" srcset="">
                    {% endthumbnail %}
                </div>
            </div>
            {% else %}
            <div class="card-img-outer">
                <div class="card-img-wrapper">
                    <img src="/static/covers/default-384.jpg" alt="" srcset="">
                </div>
            </div>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><strong>{{ item.title }}</strong></h5>
                <div class="text-muted post-info d-flex flex-row flex-wrap justify-content-between">
                    <div class="post-info-item"><i class="bi bi-pencil-fill pe-1"></i><span>HPDell</span></div>
                    <div class="post-info-item"><i class="bi bi-calendar pe-1"></i><span>{{item.date|localize}}</span></div>
                    {% if item.category %}
                    <div class="post-info-item"><i class="bi bi-archive-fill pe-1"></i><span>{{item.category.name}}</span></div>
                    {% endif %}
                </div>
            </div>
        </div></a>
    </div>
    {% endfor %}
</div>
{% if pagination %}
<div class="row">
    <div class="col text-center">
        <div class="btn-toolbar justify-content-center" role="toolbar">
            <div id="pagination" class="btn-group">
                {% if pagination.page.has_previous %}
                <a href="/post/?page={{pagination.page.previous_page_number}}{{pagination.tag_qs}}{{pagination.category_qs}}" class="btn btn-outline-secondary"><span>&laquo;</span></a>
                {% else %}
                <a href="#" class="btn btn-outline-secondary disabled"><span>&laquo;</span></a>
                {% endif %}
                {% for item in pagination.paginator %}
                    {% if item == pagination.page.number %}
                    <a href="#" class="btn btn-secondary"><span>{{ item }}</span></a>
                    {% elif item == pagination.page.paginator.ELLIPSIS %}
                    <a href="#" class="btn btn-outline-secondary disabled page-can-hide"><span>{{ item }}</span></a>
                    {% else %}
                    <a href="/post/?page={{item}}{{pagination.tag_qs}}{{pagination.category_qs}}" class="btn btn-outline-secondary page-can-hide"><span>{{ item }}</span></a>
                    {% endif %}
                {% endfor %}
                {% if pagination.page.has_next %}
                <a href="/post/?page={{pagination.page.next_page_number}}{{pagination.tag_qs}}{{pagination.category_qs}}" class="btn btn-outline-secondary"><span>&raquo;</span></a>
                {% else %}
                <a href="#" class="btn btn-outline-secondary"><span>&raquo;</span></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
