{% extends "base.html" %}
{% load i18n %}

{% block pre_modules %}
{{ block.super }}
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/vditor/3.11.2/index.min.css" />
<script src="https://cdn.bootcdn.net/ajax/libs/vditor/3.11.2/method.min.js"></script>
<style>
    #profile pre {
        visibility: hidden;
    }
    #avatar {
        width: 100%;
        max-width: 50vw;
    }
</style>
{% endblock %}

{% block header_nav %}
<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">{% translate "Home" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'post_list' %}">{% translate "Blog" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'pub_list' %}">{% translate "Publication" %}</a>
    </li>
</ul>
{% endblock %}

{% block main %}
<div class="container-xl">
    <div class="row py-3 gx-4">
        {% if avatar %}
        <div class="col-xxl-7 col-xl-6 col-md-9 col-xs-12">
            <div id="profile" class="pb-5">
                <pre>{{ profile }}</pre>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-2 col-md-3 col-xs-12 py-3">
            <img id="avatar" src="/media/{{ avatar }}" class="img-thumbnail" alt="">
        </div>
        {% else %}
        <div class="col-xxl-9 col-xl-8 col-md-12 col-xs-12">
            <div id="profile" class="pb-5">
                <pre>{{ profile }}</pre>
            </div>
        </div>
        {% endif %}
        <div class="col-xxl-3 col-xl-4 col-md-12 col-xs-12 py-3">
            <div class="card">
                <div class="card-header h5 py-3">
                    {% translate "Recent Posts" %}
                </div>
                <ul class="list-group list-group-flush">
                    {% for item in posts %}
                    <a class="list-group-item text-truncate" href="{% url 'post_page' item.permanent.title %}">{{ item.title }}</a>
                    {% endfor %}
                    {% if posts %}
                    <a class="list-group-item" href="{% url 'post_list' %}">{% translate "See All..." %}</a>
                    {% else %}
                    <li class="list-group-item text-truncate">{% translate "No posts." %}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block post_modules %}
<script>
    const contentElement = document.getElementById("profile");
    const markdown = contentElement.textContent.trim();
    Vditor.preview(contentElement, markdown, {
        after() {
            
        }
    });
</script>
{% endblock %}